/* Reset default margin and padding */
body, html {
    margin: auto;
    padding:15px;
    /* background-color: burlywood; */
    font-family: Arial, sans-serif;
  }

  /* Style the container */
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    padding: 10px;
    max-width: 900px;
    margin: auto;
    /* background-color:white; */
    border: 1px solid black;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  }
  
  /* Style the table */
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(19, 180, 239);
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th {
    background-color:black;
    color: white;
  }
  
  /* Center-align form labels and input elements */
  label, input[type="text"], textarea, input[type="checkbox"], input[type="submit"] {
    display: block;
    margin: 0px 0px 0px 0px; 
    /* width: 100%; */
    text-align: left;
    font-size: 16px;
  }
  #completed{
    margin-top: -16px;
    margin-left: 110px;
  }
  #com{
    margin-top: -30px;
  }
  #btn{
    margin: 20px;
  }
  
  /* Style the submit button */
  input[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Style the form headings */
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 5px;
  }

  body {
    background-color: #fff;
    color: #000;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  /* Update specific element styles for dark mode */
  body.dark-mode #container {
    background-color: #222;
    border-color: #444;
  }
  
  body.dark-mode table {
    background-color: #333;
    color: #fff;
  }

  @media (max-width: 600px) {
    #container {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      padding: 5%;
      height: 100%;

    }
    #tableform{
      height: 100%;
      width: 70%;
      margin-top: 0px;
      margin-left: 20%;
      text-align: center;
      
    }
  }